NODE_ENV=development

PORT=3003
PWD_BCRYPT_ROUNDS=10
JWT_SECRET=test

DB_HOST=localhost
DB_USER=integrator
DB_PASS=integrator
DB_NAME=integrator
DB_PORT=5434

JWT_SECRET=test

CDN_DOMAIN=https://localhost:3003
ASSETS_PATH=.

YCLIENTS_BASE_URL=https://api.yclients.com
YCLIENTS_PARTNER_TOKEN=e5yg6sc97tk3g4zhwmdz
YCLIENTS_USER_TOKEN=89dfb56bbdd1b6ea23c62a2af6350709
YCLIENTS_ACCEPT=application/vnd.yclients.v2+json
YCLIENTS_TIMEOUT_MS=15000

SENDPULSE_BOT_ID=67ce832c06345074cd0fbe50
SENDPULSE_CLIENT_ID=
SENDPULSE_CLIENT_SECRET=
